@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap);

* {
    box-sizing: border-box;
    color: #393c41;
    font-family: rubik, sans-serif;
    margin: 0;
    padding: 0
}

body {
    overflow-x: hidden;
    width: 100%
}

@keyframes animateDown {

    0%,
    20%,
    50%,
    80%,
    to {
        transform: translateY(0)
    }

    40% {
        transform: translateY(5px)
    }

    60% {
        transform: translateY(3px)
    }
}

.App {
    scroll-behavior: smooth;
    text-align: center
}

.App-logo {
    height: 40vmin;
    pointer-events: none
}

@media (prefers-reduced-motion:no-preference) {
    .App-logo {
        animation: App-logo-spin 20s linear infinite
    }
}

.App-header {
    align-items: center;
    background-color: #282c34;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    min-height: 100vh
}

.App-link {
    color: #61dafb
}

@keyframes App-logo-spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    padding-inline: 20px;
    position: fixed;
    width: 100%;
    z-index: 5
}

.allModels {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 60%
}

.model a {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase
}

.rightNav {
    align-items: center;
    display: flex;
    gap: 20px;
    width: 20%
}

.menu {
    font-size: 1.5rem
}

.logo {
    display: flex;
    width: 20%
}

.burgerNav {
    background-color: #fff;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: fixed;
    right: 0;
    text-align: start;
    text-transform: capitalize;
    top: 0;
    width: 300px;
    z-index: 20
}

.navItems {
    border-bottom: 1px solid rgba(0, 0, 0, .081);
    font-weight: 600;
    list-style: none;
    padding: 15px 10px
}

.navItems a {
    text-decoration: none
}

.closeicon {
    display: flex;
    justify-content: end;
    padding-inline: 30px;
    padding-top: 30px;
    width: 100%
}

.icon {
    cursor: pointer;
    font-weight: 900
}

.none {
    display: none
}

@media(max-width:767px) {
    .allModels {
        display: none
    }

    .logo,
    .rightNav {
        width: 50%
    }
}

@media(max-width:540px) {
    .model {
        display: none
    }

    .rightNav {
        justify-content: end
    }
}

.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    position: relative;
    width: 100vw
}

.section-head {
    padding-top: 15vh;
    text-align: center
}

.buttonGroup {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: center;
    width: 50%
}

.leftBtn {
    background-color: #171a20cc;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
    height: 40px;
    opacity: .85;
    outline: none;
    text-transform: uppercase;
    width: 50%
}

.leftBtn:hover {
    cursor: pointer;
    opacity: .6
}

.leftBtn:hover,
.rightBtn {
    background-color: #fff;
    color: #000
}

.rightBtn {
    border: none;
    border-radius: 25px;
    font-size: 12px;
    height: 40px;
    opacity: .65;
    outline: none;
    text-transform: uppercase;
    width: 50%
}

.rightBtn:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    opacity: .6
}

.downArrow {
    animation: animateDown 1.5s infinite;
    height: 40px
}

.bottom {
    align-items: center;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between
}

.bottom,
.fade {
    display: flex;
    width: 100%
}

.fade {
    justify-content: center
}

@media(max-width:768px) {
    .buttonGroup {
        flex-direction: column
    }

    .leftBtn,
    .rightBtn {
        width: 80%
    }
}

@media(max-width:540px) {
    .buttonGroup {
        width: 80%
    }
}

/*# sourceMappingURL=main.223c440b.css.map*/